@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
    --color-primary-50: #eff6ff;
    --color-primary-100: #dbeafe;
    --color-primary-200: #22B4CB;
    --color-primary-300: #22B4CB;
    --color-primary-400: #22B4CB;
    --color-primary-500: #D874AD;
    --color-primary-600: #D874AD;
    --color-primary-700: #D874AD;
    --color-primary-800: #D874AD;
    --color-primary-900: #1e3a8a;

    --color-secondary-50:  #FFFFFF;
    --color-secondary-100: #dbeafe;
    --color-secondary-200: #158799;
    --color-secondary-300: #22B4CB;
    --color-secondary-400: black;
    --color-secondary-500: #60a5fa;
    --color-secondary-600: #22B4CB;
    --color-secondary-700: #158799;
    --color-secondary-800: #158799;
    --color-secondary-900: #eff6ff;
    
    --font-sans: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-body: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';
}
